@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
/* ---- Reset ---- */
:root {
    --background-body: #06292E;
    --background-cards: #062226;
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Roboto Mono',monospace;
    
    }
  body {
    margin: 0;
    background-color: var(--background-body);
    color: white;
  }
  h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul{
    padding-left: 0;
    list-style: none;
  }
  img{
    display: block;
  }
  button{
    border: none;
  }
  input {
    outline: none;
  }
  